---

- name: query tenant configuration
  cisco.aci.aci_tenant: 
    host: "{{ ansible_host }}"
    username: "{{ ansible_user }}"
    password: "{{ ansible_ssh_pass }}"
    state: query
  register: _tenants
  tags: [always]

- debug:
    var: _tenants
  tags: [always]
